$primary: #fe8e22;
$secondary: #084494;
$dark: #000000;
$light: #ffffff;
$grey: #808080;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'dark': $dark,
  'light': $light,
  'grey': $grey,
);
