$primary: #fe8e22;
$secondary: #084494;
$tertiary: #81b6fc;
$quaternary: #ffc287;
$dark: #000000;
$light: #ffffff;
$grey: #808080;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'quaternary': $quaternary,
  'dark': $dark,
  'light': $light,
  'grey': $grey,
);
